<header id="header"> 
  <div class="logo">
    <a href="{{ shop.url }}">
      {% if section.settings.logo %}
        <img src="{{ section.settings.logo | image_url: 'large'  }}" alt="{{ shop.name }}" />
      {% else %}
        <span>No logo available</span>
      {% endif %}
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/">Development</a></li>
    </ul>
  </nav>
</header>


{%- schema -%}
{
"name": "Header",
"settings": [
  {
  "type": "image_picker",
  "id": "logo",
  "label": "Logo"
  }
]
}
{%- endschema -%}

