<style>
#hero {
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
<section id="hero" class="hero">
  <div class="hero-content">
     <h1>{{ section.settings.hero_title }}</h1>
     <p>{{ section.settings.hero_description }}</p>
    <div>
      <button>Shop now</button>
    </div>
  </div>
  <div class="hero-image">
    {%  if section.settings.hero_image %}
      <img 
      src="{{ section.settings.hero_image | file_img_url: 'large' }}" 
        alt="{{ section.settings.hero_image_alt }}"
      />
    {% else %}
      <span>No hero image found</span>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
     "type": "text",
     "id": "hero_title",
     "label": "Hero title",
     "default": "Lusso Napoli",
    },
    {
      "type": "textarea",
      "id": "hero_description",
      "label": "Hero description",
      "default": "Bespoke dress shoes, as sale, from show, display such, return text.",
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero image",
    },
    {
      "type": "text",
      "id": "hero_image_alt",
      "label": "Hero alt",
    },
  ]
}
{% endschema %}
