<section class="hero-carousel">
    {% if settings.carousel_image_1 %}
        <img src="{{ settings.carousel_image_1 | img_url: 'master' }}" alt="{{ shop.name }}" />
    {% endif %}
  <div class="hero-carousel-call-actions">
    <button>Buy now</button>
    <button>Try out</button>
  </div>
</section>

<style>
.hero-carousel-call-actions {
  display: flex;
  justify-content: space-between;
  border: 2px red solid;
  padding: 54px;
  gap: 50px;
  }
  .hero-carousel {
    position: relative;
    width: 100%;
    height: 300px; 
  }
  .carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .carousel-slide.active {
    display: block;
  }
</style>

