<section class="hero-carousel">
  <div class="carousel-slides">
    {% for i in (1..2) %}
       {% assign image_key = 'carousel_image_' | append: i %}
      {% if settings[image_key] %}
        <div class="carousel-slide{% if forloop.first %} active{% endif %}" style="background-image: url('{{ settings[image_key] | image_url: width: 500, height: 500 }}');">
          {% assign desc_key = 'carousel_image_desc_' | append: i %}
          <p class="slide-description">{{ settings[desc_key] }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="hero-carousel-call-actions">
    <button>Buy now</button>
    <button>Try out</button>
  </div>
</section>

<style>
.hero-carousel {
  border: 5px green solid;
  display: flex;
}
  .carousel-slides {
    position: relative;
    width: 100%; /* Ensures the slider takes full width of its container */
    height: 300px; /* Adjust the height as necessary */
    overflow: hidden;
  }
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Covers the full area of the div, no stretching */
    background-position: center; /* Center the background image */
    display: none; /* Hide slides initially */
    background-color: red;
  }
  .carousel-slide.active {
    display: block; /* Only the active slide is displayed */
  }
  .slide-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    padding: 10px;
    width: calc(100% - 40px); /* Ensures padding does not push it out of view */
    box-sizing: border-box; /* Ensures padding is included in width */
  }
</style>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var slides = document.querySelectorAll('.carousel-slide');
    var currentIndex = 0;
    var changeSlide = function() {
      slides[currentIndex].classList.remove('active');
      currentIndex = (currentIndex + 1) % slides.length;
      slides[currentIndex].classList.add('active');
    };
    var interval = {{ settings.carousel_speed | default: 5 }} * 1000;
    setInterval(changeSlide, interval);
  });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
          var slides = document.querySelectorAll('.carousel-slide');
          var currentIndex = 0;
          var changeSlide = function() {
                  slides[currentIndex].classList.remove('active');
                  currentIndex = (currentIndex + 1) % slides.length;
                  slides[currentIndex].classList.add('active');
                };
          var interval = {{ settings.carousel_speed | default: 5 }} * 1000;
          setInterval(changeSlide, interval);
        });
</script>
