@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

#header nav {
  display: flex;
  justify-content: space-between;
}

#main {
  padding-left: 16px;
  padding-right: 16px;
}

#footer {
  color: #fff;
  padding-top: 33px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 25px;
}

#footer section {
  display: flex;
  gap: 12px;
  flex-direction: column;
  text-align: center;
}
#footer section #footer-legal {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
